section.main {
  margin-top: 35px;
  margin-bottom: 133px;
}
@media (max-width: 960px) {
  section.main {
    margin-bottom: 90px;
  }
}
section.main div.container {
  position: relative;
}
@media (max-width: 640px) {
  section.main div.container {
    grid-column: full;
  }
}
section.main div.swiper-slide {
  display: grid;
  grid-template-columns: 734fr 856fr;
  grid-gap: 56px;
  overflow: hidden;
}
@media (max-width: 640px) {
  section.main div.swiper-slide {
    grid-template-columns: 1fr;
    grid-gap: 22px;
    padding-left: var(--gap);
    padding-right: var(--gap);
  }
}
section.main div.swiper-slide div.text {
  padding-top: 95px;
  padding-bottom: 95px;
  z-index: 1;
}
@media (max-width: 640px) {
  section.main div.swiper-slide div.text {
    padding-top: unset;
    padding-bottom: unset;
  }
}
section.main div.swiper-slide div.text h1 {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 48px;
  line-height: 107%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #231f20;
}
@media (max-width: 960px) {
  section.main div.swiper-slide div.text h1 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
section.main div.swiper-slide div.text h1 b {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
section.main div.swiper-slide div.text span {
  display: block;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.main div.swiper-slide div.text span {
    font-size: 12px;
    margin-bottom: 24px;
  }
}
section.main div.swiper-slide div.text a.button {
  padding: 20px 40px;
  justify-self: start;
}
@media (max-width: 960px) {
  section.main div.swiper-slide div.text a.button {
    border: 1px solid #cb1e40;
    padding: 14px 32px;
  }
}
section.main div.swiper-slide div.image {
  z-index: 1;
}
@media (max-width: 640px) {
  section.main div.swiper-slide div.image {
    display: none;
  }
}
section.main div.swiper-slide div.image img {
  width: 100%;
}
@media (max-width: 640px) {
  section.main div.swiper-slide div.image img {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
section.main div.swiper-slide div.background {
  display: none;
  position: absolute;
  top: calc(var(--gap) * -1);
  left: 0;
  width: 100%;
  height: calc(100% + var(--gap) * 2);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  z-index: 0;
}
@media (max-width: 640px) {
  section.main div.swiper-slide div.background {
    display: block;
  }
}
section.main div.swiper-slide div.background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.main div.swiper-navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 640px) {
  section.main div.swiper-navigation {
    bottom: 8px;
    left: unset;
    right: var(--gap);
  }
}

section.products {
  margin-top: 133px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.products {
    margin-top: 90px;
    margin-bottom: 60px;
  }
}
section.products div.container {
  display: grid;
  grid-template-areas: "Title Description" "Product Gallery" ".Additional";
  grid-template-columns: 5fr 7fr;
  grid-gap: 32px 20px;
}
@media (max-width: 960px) {
  section.products div.container {
    grid-template-columns: 1fr;
    grid-template-areas: "Title" "Description" "Product" "Gallery" "Additional";
    grid-gap: 0px;
  }
}
section.products h2 {
  grid-area: Title;
}
@media (max-width: 960px) {
  section.products h2 {
    padding-bottom: 12px;
  }
}
section.products span.description {
  grid-area: Description;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
  max-width: 804px;
}
@media (max-width: 960px) {
  section.products span.description {
    font-size: 12px;
  }
}
section.products a.product {
  position: relative;
  grid-area: Product;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 40px;
  min-height: 575px;
  border: 1px solid #231f20;
  border-radius: 5px;
  background: white;
  z-index: 1;
}
@media (max-width: 960px) {
  section.products a.product {
    min-height: 245px;
    padding: 25px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
section.products a.product span {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #231f20;
}
@media (max-width: 960px) {
  section.products a.product span {
    font-size: 14px;
  }
}
section.products a.product img {
  position: absolute;
  right: 18px;
  bottom: 42px;
  width: 431px;
  max-width: 75%;
}
@media (max-width: 960px) {
  section.products a.product img {
    width: 199px;
    right: 0;
    bottom: 18px;
  }
}
section.products a.product div.arrow {
  position: relative;
  cursor: pointer;
  width: 52px;
  height: 52px;
  z-index: 1;
}
@media (max-width: 960px) {
  section.products a.product div.arrow {
    width: 40px;
    height: 40px;
  }
}
section.products a.product div.arrow svg {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
section.products a.product div.arrow svg circle {
  stroke: #231f20;
  fill: transparent;
}
section.products a.product div.arrow svg path {
  fill: #231f20;
}
section.products a.product:hover {
  border: 1px solid #cb1e40;
}
section.products a.product:hover div.arrow svg {
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
section.products a.product:hover div.arrow svg circle {
  stroke: #cb1e40;
  fill: #cb1e40;
}
section.products a.product:hover div.arrow svg path {
  fill: #fff;
}
section.products div.swiper {
  grid-area: Gallery;
  width: 100%;
  min-width: 0;
  height: 575px;
  padding-right: 220px;
  overflow: visible;
  z-index: 0;
}
@media (max-width: 960px) {
  section.products div.swiper {
    height: 245px;
    padding-right: unset;
    margin-bottom: 10px;
  }
}
section.products div.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 5px;
}
section.products div.swiper div.swiper-navigation {
  position: absolute;
  bottom: 0;
  left: calc(100% - 196px);
  z-index: 1;
}
@media (max-width: 960px) {
  section.products div.swiper div.swiper-navigation {
    display: none;
  }
}
section.products div.swiper div.swiper-slide {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 960px) {
  section.products div.swiper div.swiper-slide {
    -webkit-transition: unset;
    transition: unset;
    opacity: 1;
  }
}
section.products div.swiper div.swiper-slide.swiper-slide-active {
  opacity: 1;
  pointer-events: auto;
}
section.products div.swiper div.swiper-slide.swiper-slide-active ~ div.swiper-slide {
  opacity: 1;
  pointer-events: auto;
  padding-bottom: 110px;
}
@media (max-width: 960px) {
  section.products div.swiper div.swiper-slide.swiper-slide-active ~ div.swiper-slide {
    padding-bottom: unset;
  }
}
section.products span.additional {
  grid-area: Additional;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.6;
  max-width: 827px;
}
@media (max-width: 960px) {
  section.products span.additional {
    font-size: 12px;
  }
}

section.sketch {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.sketch {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.sketch div.sketchfab-embed-wrapper {
  width: 100%;
  grid-column: full;
  margin-bottom: 32px;
  line-height: 0;
  height: 808px;
}
@media (max-width: 960px) {
  section.sketch div.sketchfab-embed-wrapper {
    grid-column: content;
    margin-bottom: 30px;
    height: 515px;
  }
}
section.sketch div.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}

section.offer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #cb1e40;
  color: white;
}
@media (max-width: 960px) {
  section.offer {
    padding-top: 25px;
    padding-bottom: 32px;
  }
}
section.offer div.container h2 {
  color: white;
  margin-bottom: 43px;
}
@media (max-width: 960px) {
  section.offer div.container h2 {
    margin-bottom: 29px;
  }
}
section.offer div.container form {
  max-width: 1230px;
}
section.offer div.container form div.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 640px) {
  section.offer div.container form div.row {
    grid-template-columns: 1fr;
  }
}
section.offer div.container form fieldset.input {
  color: white;
}
section.offer div.container form fieldset.input input {
  border-bottom: 1px solid white;
}
section.offer div.container form fieldset.input label {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section.offer div.container form fieldset.input label::after {
  color: inherit;
}
section.offer div.container form fieldset.input span {
  background: #cb1e40;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section.offer div.container form fieldset.input svg circle {
  fill: white;
}
section.offer div.container form fieldset.input svg path {
  fill: #cb1e40;
}
section.offer div.container form span.policy {
  display: block;
  margin-top: 24px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 640px) {
  section.offer div.container form span.policy {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 12px;
  }
}
section.offer div.container form span.policy a {
  text-decoration: underline;
}
section.offer div.container form span.policy a:hover {
  text-decoration: none;
}
section.offer div.container form button {
  background: white;
  color: #231f20;
  min-width: 194px;
}
section.offer div.container form button:hover {
  color: #cb1e40;
}
section.offer img.background {
  grid-column: full;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}
@media (max-width: 960px) {
  section.offer img.background {
    height: 203px;
    right: -64px;
  }
}
section.offer div.success {
  opacity: 0;
  pointer-events: none;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-top: 60px;
  padding-bottom: 87px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  section.offer div.success {
    padding-top: 25px;
    padding-bottom: 42px;
  }
}
section.offer div.success div.text {
  display: grid;
  grid-gap: 15px;
}
@media (max-width: 960px) {
  section.offer div.success div.text {
    grid-gap: 12px;
  }
}
section.offer div.success div.text h2 {
  color: white;
}
section.offer div.success div.text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.offer div.success div.text span {
    font-size: 12px;
  }
}
section.offer div.success div.contact {
  display: grid;
}
section.offer div.success div.contact span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  section.offer div.success div.contact span {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
section.offer div.success div.contact a.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 960px) {
  section.offer div.success div.contact a.phone {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
section.offer div.success div.contact a.email {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 960px) {
  section.offer div.success div.contact a.email {
    font-size: 12px;
  }
}
section.offer.success div.container {
  opacity: 0;
  pointer-events: none;
}
section.offer.success div.success {
  opacity: 1;
  pointer-events: auto;
}

section.about {
  margin-top: 74px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.about {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.about div.container {
  display: grid;
  grid-gap: 62px;
}
@media (max-width: 960px) {
  section.about div.container {
    grid-gap: 30px;
  }
}
section.about div.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 960px) {
  section.about div.text {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
section.about div.text div.description {
  display: grid;
  justify-items: start;
  grid-gap: 26px;
  max-width: 775px;
}
@media (max-width: 960px) {
  section.about div.text div.description {
    grid-gap: 20px;
  }
}
section.about div.text div.description span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.about div.text div.description span {
    font-size: 12px;
  }
}
section.about div.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 640px) {
  section.about div.advantages {
    grid-template-columns: 1fr;
  }
}
section.about div.advantages div.advantage {
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border: 1px solid rgba(138, 141, 143, 0.3);
  border-radius: 5px;
  height: 234px;
  padding: 30px 40px;
}
@media (max-width: 960px) {
  section.about div.advantages div.advantage {
    height: 178px;
    padding: 20px 30px;
  }
}
section.about div.advantages div.advantage:first-child {
  background: #cb1e40;
  background-image: url(../images/offer_background.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
section.about div.advantages div.advantage:first-child strong {
  color: white;
  opacity: 1;
}
section.about div.advantages div.advantage:first-child span {
  color: white;
}
section.about div.advantages div.advantage:first-child span::before {
  background: rgba(255, 255, 255, 0.41);
  opacity: 0.7;
}
section.about div.advantages strong {
  display: block;
  font-weight: 600;
  font-size: 64px;
  line-height: 107%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.about div.advantages strong {
    font-size: 40px;
  }
}
section.about div.advantages span {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.about div.advantages span {
    font-size: 12px;
  }
}
section.about div.advantages span::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  top: -15px;
  left: 0;
  background: #8a8d8f;
  opacity: 0.3;
}

section.trust {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.trust {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
section.trust div.container {
  display: grid;
  grid-gap: 32px;
}
@media (max-width: 960px) {
  section.trust div.container {
    grid-gap: 20px;
  }
}
section.trust div.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 960px) {
  section.trust div.text {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
section.trust div.text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
  max-width: 568px;
}
@media (max-width: 960px) {
  section.trust div.text span {
    font-size: 12px;
  }
}
section.trust div.swiper {
  width: 100%;
  min-width: 0;
}
@media (max-width: 960px) {
  section.trust div.swiper {
    overflow: visible;
  }
}
section.trust img {
  width: 100%;
  border: 1px solid rgba(138, 141, 143, 0.3);
  border-radius: 5px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
section.trust img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}/*# sourceMappingURL=index.css.map */