section.main {
  padding-bottom: 63px;
  background: rgba(245, 245, 245, 0.5);
  border-bottom-left-radius: 15px;
  border-bottom-rigfht-radius: 15px;
}
@media (max-width: 960px) {
  section.main {
    padding-bottom: 25px;
  }
}
section.main h1 {
  margin-bottom: 30px;
}
@media (max-width: 960px) {
  section.main h1 {
    margin-bottom: 12px;
  }
}
section.main div.sketchfab-embed-wrapper {
  width: 100%;
  grid-column: full;
  margin-bottom: 32px;
  line-height: 0;
  height: 808px;
}
@media (max-width: 960px) {
  section.main div.sketchfab-embed-wrapper {
    margin-bottom: 30px;
    grid-column: content;
    height: 515px;
  }
}
section.main div.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}
section.main div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media (max-width: 640px) {
  section.main div.buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.main div.buttons > * {
  width: 100%;
  max-width: 360px;
}
@media (max-width: 640px) {
  section.main div.buttons > * {
    max-width: unset;
  }
}

section.specs {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 960px) {
  section.specs {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
section.specs div.models {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.specs div.models {
    margin-bottom: 60px;
  }
}
section.specs div.models div.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 33px;
}
@media (max-width: 1600px) {
  section.specs div.models div.list {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (max-width: 1280px) {
  section.specs div.models div.list {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 960px) {
  section.specs div.models div.list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 640px) {
  section.specs div.models div.list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 480px) {
  section.specs div.models div.list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  section.specs div.models div.list {
    grid-gap: 20px 13px;
  }
}
section.specs div.models a.model {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 13px;
}
section.specs div.models a.model img {
  width: 100%;
  max-width: 107px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 2px;
  border: 1px solid transparent;
}
@media (max-width: 960px) {
  section.specs div.models a.model img {
    max-width: 103px;
  }
}
section.specs div.models a.model span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.specs div.models a.model span {
    font-size: 12px;
  }
}
section.specs div.models a.model:hover img {
  border: 1px solid #cb1e40;
}
section.specs div.tech {
  display: grid;
  grid-gap: 50px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  section.specs div.tech {
    grid-gap: 30px;
    margin-bottom: 60px;
  }
}
section.specs div.tech div.text {
  display: grid;
  grid-gap: 24px;
}
@media (max-width: 960px) {
  section.specs div.tech div.text {
    grid-gap: 10px;
  }
}
section.specs div.tech div.text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.specs div.tech div.text span {
    font-size: 12px;
  }
}
section.specs div.tech div.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 960px) {
  section.specs div.tech div.list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
section.specs div.tech div.list div.item {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #231f20;
  border-bottom: 0.5px solid rgba(138, 141, 143, 0.3);
  padding-bottom: 10px;
}
@media (max-width: 960px) {
  section.specs div.tech div.list div.item {
    font-size: 12px;
  }
}
section.specs div.tech div.list div.item span:first-child {
  opacity: 0.5;
}
section.specs div.tech div.list div.item span:last-child {
  text-align: right;
}
section.specs div.tabs div.tabs_captions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
@media (max-width: 640px) {
  section.specs div.tabs div.tabs_captions {
    grid-auto-flow: row;
  }
}
section.specs div.tabs div.tab_caption {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 24px;
}
@media (max-width: 960px) {
  section.specs div.tabs div.tab_caption {
    padding-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  section.specs div.tabs div.tab_caption {
    padding-top: 10px;
    text-align: left;
  }
}
section.specs div.tabs div.tab_caption:hover {
  color: #cb1e40;
}
section.specs div.tabs div.tab_caption.opened {
  pointer-events: none;
  border-bottom: 1px solid black;
}
section.specs div.tabs div.tab_content {
  display: none;
  padding-top: 40px;
}
@media (max-width: 960px) {
  section.specs div.tabs div.tab_content {
    padding-top: 24px;
  }
}
section.specs div.tabs div.tab_content.opened {
  display: block;
}
section.specs div.tabs div.about {
  max-width: 1260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.specs div.tabs div.about {
    font-size: 12px;
  }
}
section.specs div.tabs div.about h3 {
  margin-bottom: 20px;
}
section.specs div.tabs div.advantages h3 {
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  section.specs div.tabs div.advantages h3 {
    margin-bottom: 20px;
  }
}
section.specs div.tabs div.advantages strong {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #cb1e40;
}
@media (max-width: 960px) {
  section.specs div.tabs div.advantages strong {
    font-size: 14px;
    margin-top: 20px;
  }
}
section.specs div.tabs div.advantages p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.specs div.tabs div.advantages p {
    font-size: 12px;
  }
}
section.specs div.tabs div.applications {
  display: grid;
  grid-gap: 40px;
}
@media (max-width: 960px) {
  section.specs div.tabs div.applications {
    grid-gap: 20px;
  }
}
section.specs div.tabs div.applications div.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px 20px;
}
@media (max-width: 960px) {
  section.specs div.tabs div.applications div.list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 640px) {
  section.specs div.tabs div.applications div.list {
    grid-template-columns: 1fr;
  }
}
section.specs div.tabs div.applications div.list div {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  border: 1px solid rgba(203, 30, 64, 0.3);
  border-radius: 5px;
  min-height: 73px;
  padding: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #231f20;
}
@media (max-width: 960px) {
  section.specs div.tabs div.applications div.list div {
    font-size: 12px;
    min-height: 44px;
    padding: 14px;
  }
}

section.consult {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 80px;
  background: #cb1e40;
  color: white;
}
@media (max-width: 960px) {
  section.consult {
    padding-top: 25px;
    padding-bottom: 32px;
    margin-bottom: 60px;
  }
}
section.consult div.container h2 {
  color: white;
  margin-bottom: 43px;
}
@media (max-width: 960px) {
  section.consult div.container h2 {
    margin-bottom: 20px;
  }
}
section.consult div.container form {
  position: relative;
  max-width: 1230px;
  z-index: 1;
}
section.consult div.container form div.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
@media (max-width: 960px) {
  section.consult div.container form div.row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 640px) {
  section.consult div.container form div.row {
    grid-template-columns: 1fr;
  }
}
section.consult div.container form fieldset.input {
  color: white;
}
section.consult div.container form fieldset.input input {
  border-bottom: 1px solid white;
}
section.consult div.container form fieldset.input label {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section.consult div.container form fieldset.input label::after {
  color: inherit;
}
section.consult div.container form fieldset.input span {
  background: #cb1e40;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section.consult div.container form fieldset.input svg circle {
  fill: white;
}
section.consult div.container form fieldset.input svg path {
  stroke: #cb1e40;
}
section.consult div.container form div.textarea {
  margin-top: 20px;
}
section.consult div.container form div.textarea textarea {
  color: white;
  border-bottom: 1px solid white;
}
section.consult div.container form div.textarea textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.consult div.container form div.textarea textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.consult div.container form div.textarea textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.consult div.container form div.textarea textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.consult div.container form div.textarea textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.consult div.container form div.textarea textarea:-moz-placeholder-shown {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}
section.consult div.container form div.textarea textarea:-ms-input-placeholder {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}
section.consult div.container form div.textarea textarea:placeholder-shown {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}
section.consult div.container form span.policy {
  display: block;
  margin-top: 24px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 640px) {
  section.consult div.container form span.policy {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 12px;
  }
}
section.consult div.container form span.policy a {
  text-decoration: underline;
}
section.consult div.container form span.policy a:hover {
  text-decoration: none;
}
section.consult div.container form button {
  background: white;
  color: #231f20;
}
section.consult div.container form button:hover {
  color: #cb1e40;
}
section.consult img.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}
@media (max-width: 960px) {
  section.consult img.background {
    height: 203px;
    right: -64px;
  }
}
section.consult div.success {
  opacity: 0;
  pointer-events: none;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-top: 60px;
  padding-bottom: 87px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  section.consult div.success {
    padding-top: 25px;
    padding-bottom: 42px;
  }
}
section.consult div.success div.text {
  display: grid;
  grid-gap: 15px;
}
@media (max-width: 960px) {
  section.consult div.success div.text {
    grid-gap: 12px;
  }
}
section.consult div.success div.text h2 {
  color: white;
}
section.consult div.success div.text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 960px) {
  section.consult div.success div.text span {
    font-size: 12px;
  }
}
section.consult div.success div.contact {
  display: grid;
}
section.consult div.success div.contact span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  section.consult div.success div.contact span {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
section.consult div.success div.contact a.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 960px) {
  section.consult div.success div.contact a.phone {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
section.consult div.success div.contact a.email {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 960px) {
  section.consult div.success div.contact a.email {
    font-size: 12px;
  }
}
section.consult.success div.container {
  opacity: 0;
  pointer-events: none;
}
section.consult.success div.success {
  opacity: 1;
  pointer-events: auto;
}/*# sourceMappingURL=product.css.map */