section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span Контакты

        div.text
            h1 Контакты
            div.list
                div.contact
                    span Адрес:
                    span 105066, г. Москва, ул. Ольховская, д. 4, корп. 2
                div.contact
                    span Телефон:
                    a(href="tel:+7 915 444-88-77")  +7 915 444-88-77
                div.contact
                    span Почта:
                    a(href="mailto:pochta@mail.com")  pochta@mail.com
                div.contact
                    span Режим работы:
                    span с 9:00 до 22:00 пн-пт