footer
    div.container

        div.top
            a(href="index.html").logotype
                img(src="images/logotype.svg", alt="Vetros")

            menu
                a(href="product.html") Продукция
                a(href="about.html") О компании
                a(href="contacts.html") Контакты
                a(href="documents.html") документы

            div.contacts
                div.links
                    a(href="tel:79154448877") +7 915 444-88-77
                    a(href="mailto:pochta@mail.com") pochta@mail.com
                button(data-modal-target="offer") Связаться с нами

        div.bottom
            span.copyright © 2024 ООО «‎ВСД»
            a(href="policy.html").policy Политика конфиденциальности
            a(href="https://mwi.me/", target="blank").mwi
                span Дизайн, разработка сайта
                img(src="images/mwi.svg", alt="")

        span.gost Выпускаемые VETROS изделия соответствуют требованиям ГОСТ, ТУ и являются сертифицированным оборудованием #[br]Гарантийные обязательства распространяются на всю изготавливаемую заводом продукцию. Мы несём обязательства в соответствии с Законом РФ «О защите прав потребителей»
