dialog(data-modal-name="offer")

    div.container
    

        img(src="images/modal_cross.svg", data-modal-close).close

        div.wrap

            div.form

                h2 Оставьте заявку и мы свяжемся с вами

                form(action="", onsubmit="event.preventDefault(); this.reset(); this.closest('dialog').classList.add('success')")
                
                    div.row
                        fieldset.input
                            input(type="text", placeholder="Ваше имя*", autocomplete="off", oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", onclick="this.classList.remove('error')", required)
                            label Ваше имя
                            span
                            img(src="images/alert.svg", alt="")

                        fieldset.input
                            input(type="tel", placeholder="Телефон", autocomplete="off", oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", onclick="this.classList.remove('error')", required)
                            label Телефон
                            span
                            img(src="images/alert.svg", alt="")

                        fieldset.input
                            input(type="email", placeholder="Ваш email", autocomplete="off", oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", onclick="this.classList.remove('error')", required)
                            label Ваш email
                            span
                            img(src="images/alert.svg", alt="")

                    div.textarea
                        textarea(placeholder="Сообщение", rows="1", oninput="autosize(this)")

                    label.upload
                        img(src="images/upload.svg", alt="").upload
                        input(type="file", name="", onchange="upload(this)")
                        span.name
                        span.default Прикрепить файл
                        img(src="images/upload_cross.svg", alt="", onclick="resetUpload(event, this)").cross

                    div.submit
                        button Оставить заявку
                        span.policy Нажимая кнопку «Оставить заявку», я даю своё #[a(href="###") согласие на обработку моих персональных данных]

            div.success
                h2 Заявка успешно #[br]оправлена!
                span Мы свяжемся с вами в ближайшее время
                a(href="index.html").button на главную