section.about
    div.container

        div.text
            h2 О компании
            div.description
                span VETROS — Самый перспективный производитель котельного оборудования, нацеленный занять лидирующие позиции в области комплексных решений для теплоснобжения.
                a(href="about.html").button Читать о компании

        div.advantages
            div.advantage
                strong 300
                span квалифицированных профессионалов
            div.advantage
                strong 500
                span единиц котельного оборудования в год
            div.advantage
                strong 22 800 м2
                span площадь цехов
            div.advantage
                strong 80 лет
                span на основе многолетнего производственного опыта Бийским Котельным Заводом