section.main
    div.container

        div.swiper
            div.swiper-wrapper

                div.swiper-slide
                    div.text
                        h1 #[b(style="color: #A02842;") Надёжные] жаротрубные котлы для вашего бизнеса
                        span Откройте для себя наш широкий ассортимент жаротрубных котлов, спроектированных для высокой производительности и долговечности.
                        a(href="product.html").button НАША ПРОДУКЦИЯ
                    div.image
                        img(src="images/1.webp", alt="")
                    div.background
                        img(alt="")

                div.swiper-slide
                    div.text
                        h1 #[b(style="color: #A02842;") Надёжные] жаротрубные котлы для вашего бизнеса
                        span Откройте для себя наш широкий ассортимент жаротрубных котлов, спроектированных для высокой производительности и долговечности.
                        a(href="product.html").button НАША ПРОДУКЦИЯ
                    div.image
                        img(src="images/1.webp", alt="")
                    div.background
                        img(alt="")

                div.swiper-slide
                    div.text
                        h1 #[b(style="color: #A02842;") Надёжные] жаротрубные котлы для вашего бизнеса
                        span Откройте для себя наш широкий ассортимент жаротрубных котлов, спроектированных для высокой производительности и долговечности.
                        a(href="product.html").button НАША ПРОДУКЦИЯ
                    div.image
                        img(src="images/1.webp", alt="")
                    div.background
                        img(alt="")

        div.swiper-navigation
            div.arrow
                include ../../../images/arrow.svg
            div.arrow
                include ../../../images/arrow.svg