section.sketch
    <div class="sketchfab-embed-wrapper">
    <iframe title="vetros_hulf02" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/eb3bddcaf36f40c98b07d8bef078e4ac/embed?autostart=1&dnt=1"> </iframe>
    </div>