section.trust
    div.container

        div.text
            h2 Нам доверяют
            span ООО «ВСД» является российским производителем промышленных водогрейных котлов, котельного оборудования и запасных частей.

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/6.webp", alt="")
                div.swiper-slide: img(src="images/7.webp", alt="")
                div.swiper-slide: img(src="images/8.webp", alt="")
                div.swiper-slide: img(src="images/9.webp", alt="")
                div.swiper-slide: img(src="images/6.webp", alt="")
                div.swiper-slide: img(src="images/7.webp", alt="")
                div.swiper-slide: img(src="images/6.webp", alt="")
                div.swiper-slide: img(src="images/7.webp", alt="")
                div.swiper-slide: img(src="images/8.webp", alt="")
                div.swiper-slide: img(src="images/9.webp", alt="")
                div.swiper-slide: img(src="images/6.webp", alt="")
                div.swiper-slide: img(src="images/7.webp", alt="")