section.main

    div.breadcrumbs
        a(href="index.html") Главная
        span Водогрейные котлы

    h1 Водогрейные котлы

    <div class="sketchfab-embed-wrapper">
    <iframe title="vetros_hulf02" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/eb3bddcaf36f40c98b07d8bef078e4ac/embed?autostart=1&dnt=1"> </iframe>
    </div>

    div.buttons
        button(data-modal-target="offer") Оставить заявку
        a(href="images/empty.pdf", target="blank").button.border
            img(src="images/download.svg", alt="Скачать спецификацию")
            span Скачать спецификацию