mixin model(image, title)
    a(href="images/empty.pdf", target="blank").model
        img(src="images/1.webp", alt="")
        span= title


section.specs
    div.container

        div.models
            h2 Выберите модель
            div.list
                +model('images/1.webp', 'Vetros DW 0.3 мВт')
                +model('images/1.webp', 'Vetros DW 1 мВт')
                +model('images/1.webp', 'Vetros DW 0.3 мВт')
                +model('images/1.webp', 'Vetros DW 1 мВт')
                +model('images/1.webp', 'Vetros DW 0.3 мВт')
                +model('images/1.webp', 'Vetros DW 1 мВт')
                +model('images/1.webp', 'Vetros DW 0.3 мВт')
                +model('images/1.webp', 'Vetros DW 1 мВт')

        div.tech
            div.text
                h2 Технические характеристики
                span Водогрейные котлы малой и средней мощности VETROS DW
            div.list
                div.item
                    span Конструкция
                    span двухходовой, жаротрубно-дымогарный
                div.item
                    span Температура подачи (на выходе из котла), °C
                    span до 115°C
                div.item
                    span Теплопроизводи­тельность, кВт
                    span от 0,1 до 9 мВт
                div.item
                    span Температура на входе в котёл, °C
                    span Не менее 60°C
                div.item
                    span Рабочее давление, МПа
                    span до 0,6 МПа
                div.item
                    span Топливо
                    span Газообразное и жидкое топливо, включая мазут

        div.tabs
            div.tabs_captions
                div.tab_caption.opened Обзор
                div.tab_caption Преимущества
                div.tab_caption Область применения
                div.tab_caption Сведения о продукте
            div.tabs_contents
                div.tab_content.opened
                    div.about
                        p В компании Vetros мы стремимся создавать энергоэффективные продукты, которые помогают отраслям промышленности снизить воздействие на окружающую среду и снизить эксплуатационные расходы. Доверие зарабатывают результатами, и именно поэтому мы сосредоточены на предоставлении только самого лучшего. От материалов, которые мы закупаем, до точного проектирования, которое используется в каждом котле.
                        br
                        p Мы стремимся предоставлять нашим клиентам продукцию, на которую они могут положиться в течение многих лет. В компании Vetros мы не просто производим котлы — мы создаём производительность и решения для будущего.
                div.tab_content
                    div.advantages
                        h3 Особенности котлов Vetros
                        strong Экономичное производство горячей воды
                        p Энергоэффективное и экологичное обеспечение теплом, а также высокая эксплуатационная надёжность и готовность установки являются основными требованиями к отопительным центрам в крупных зданиях и промышленных предприятиях. Vetros LW — это водогрейные котлы низкого давления для температур потока до ___ °C и допустимого рабочего давления __, __ или __ бар.
                        strong Проверенная и надёжная технология
                        p Новые системы отопления для промышленных и коммерческих предприятий часто должны быть готовы к эксплуатации в короткие сроки, чтобы обеспечить своевременную подачу тепла. Это особенно актуально в случаях реструктуризации или модернизации, когда система отопления меняется в процессе работы. В этом случае оператор системы может полагаться на проверенные и надёжные технологии Vetros.
                        strong компоненты, разработанные для совместной работы
                        p В промышленном и коммерческом котельном оборудовании водогрейный котёл Vetros LW низкого давления обеспечивает высокий уровень надёжности планирования и расчётов. Все компоненты надёжно совместимы и гарантируют высокое качество и гибкость, включая предварительно собранное защитное оборудование для максимальных температур ___ °C. В качестве аксессуаров предлагаются теплообменники для дымовых газов/воды для конденсационных и неконденсационных технологий, которые повышают эффективность котла до ____%.
                div.tab_content
                    div.applications
                        h3 Наши котлы используются в таких в производственных отраслях, как:
                        div.list
                            div Пищевая промышленность
                            div Промышленность удобрений
                            div Промышленность строительных материалов
                            div Бумажная промышленность
                            div Химическая промышленность
                            div Фармацевтическая промышленность
                            div Медицинские учреждения
                            div Нефтеперерабатывающие заводы
                            div Сети местного и районного отопления
                div.tab_content
                    div.about
                        h3 О продукте
                        p Энергоэффективное и экологичное обеспечение теплом, а также высокая эксплуатационная надёжность и готовность установки являются основными требованиями к отопительным центрам в крупных зданиях и промышленных предприятиях. 
                        br
                        p Vetros LW — это водогрейные котлы низкого давления для температур потока до ___ °C и допустимого рабочего давления __, __ или __ бар. Эти котлы имеют низкие выбросы оксидов азота, обеспечивают лёгкий доступ для обслуживания, благодаря чему снижаются время запуска и расходы на обслуживание.













