section.main

    div.breadcrumbs
        a(href="index.html") Главная
        span О компании

    div.text
        h1 О компании
        span Vetros — это результат мощного партнёрства между ВСД, динамично развивающимся машиностроительным предприятием из Волгодонска, обладающим экспертизой в производстве оборудования для ветряной и атомной энергетики, и БИКЗ, компанией с более чем 80-летним опытом работы в отрасли котельного оборудования.

    span.transparent Эффективные технологии тепла

    div.mission
        div.description
            strong Наша миссия —
            span поставлять высококачественные жаротрубные котлы, которые устанавливают новые стандарты производительности, надёжности и энергоэффективности.
        img(src="images/15.webp", alt="")
