section.safety

    div.container

        div.text
            h2 Эффективность. Надёжность. Безопасность
            span Откройте для себя наш широкий ассортимент жаротрубных котлов, спроектированных для высокой производительности и долговечности. Независимо от того, нужна ли вам система для промышленного, коммерческого или коммунального применения, наши котлы обеспечивают непревзойдённую эффективность и безопасность. Изучите нашу продукцию сегодня и сделайте шаг к улучшению вашей энергетической системы.
            strong Ключевые особенности:
            ul
                li Высокая эффективность для максимальной производительности
                li Низкие выбросы, экологически безопасно
                li Прочные и лёгкие в обслуживании

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/14.webp", alt=" ")
                div.swiper-slide: img(src="images/11.webp", alt=" ")
                div.swiper-slide: img(src="images/12.webp", alt=" ")
                div.swiper-slide: img(src="images/13.webp", alt=" ")
            
            div.swiper-navigation
                div.arrow
                    include ../../../images/arrow.svg
                div.arrow
                    include ../../../images/arrow.svg