extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/index/_main.pug
    include sections/index/_products.pug
    include sections/index/_sketch.pug
    include sections/index/_offer.pug
    include sections/index/_about.pug
    include sections/index/_trust.pug